In [26]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import timeit

In [30]:
#URL = 'https://www.opensecrets.org/races/summary?cycle=2020&id=TN02&spec=N'

def update_url(district_number):
    
    district = district_number

    url = f"https://www.opensecrets.org/races/summary?cycle=2020&id=TN{district}&spec=N"
    
    return url;

def split_title(title):
    title = title.get_text()
    title = (
    title.replace(' 2020 Race â€¢ OpenSecrets', '')
         .replace('District ', '')
         .split(' ')
        )
    return title

def get_dataframe(state, district, election_results):
    regex_candidate = r"(\w+\s\w+)"
    incumbent = "Incumbent"
    regex_party = r"(\W\w\W)"
    winner = "Winner"

    columns_extract= {'Candidate_name': regex_candidate,'Party':regex_party}
    columns_contains = {'Incumbent':incumbent, 'Winner':winner}

    for key, value in columns_extract.items():
        election_results[key] = election_results['Candidate'].str.extract(value, expand=True)

    for key, value in columns_contains.items():
        election_results[key] = election_results['Candidate'].str.contains(value)

    election_results['State'] = state 

    election_results['District'] = district

    election_results = election_results[['Candidate_name', 
                                         'Party', 
                                         'State',
                                         'District',
                                         'Incumbent', 
                                         'Winner', 
                                         'Raised', 
                                         'Spent']]
    return election_results
    
    
    
    
    
numb_districts = ['01', '02', '03', '04', '05', '06', '07', '08', '09' ]

def generate_dataframe(response):
    soup = BS(response.text)
    soup.prettify()
    
    
    title = soup.find('title')
    title = split_title(title)
    state = (title[0])
    district = title[1]
    
    election_results = pd.read_html(str(soup.find('table')))[0]
    election_results = get_dataframe(state, district, election_results)
    return election_results

election_results = pd.DataFrame(columns=['Candidate_name', 
                                         'Party', 
                                         'State',
                                         'District',
                                         'Incumbent', 
                                         'Winner', 
                                         'Raised', 
                                         'Spent'])
    
for i in list(numb_districts):
    URL = update_url(i)
    response = requests.get(URL)
    
    results = generate_dataframe(response)
    
    election_results = election_results.append(results)
   
election_results

,Candidate_name,Party,State,District,Incumbent,Winner,Raised,Spent
0,Diana Harshbarger,(R),Tennessee,01,False,True,"$2,126,946","$1,869,100"
1,Blair Nicole,(D),Tennessee,01,False,False,"$140,209","$134,995"
0,Tim Burchett,(R),Tennessee,02,True,True,"$1,336,276","$878,488"
1,Renee Hoyos,(D),Tennessee,02,False,False,"$812,784","$816,793"
0,Chuck Fleischmann,(R),Tennessee,03,True,True,"$1,051,653","$381,411"
1,Meg Gorman,(D),Tennessee,03,False,False,"$85,843","$77,760"
0,Scott Desjarlais,(R),Tennessee,04,True,True,"$331,464","$392,499"
1,Christopher Hale,(D),Tennessee,04,False,False,"$308,731","$302,996"
0,Jim Cooper,(D),Tennessee,05,True,True,"$936,569","$1,332,131"
0,John Rose,(R),Tennessee,06,True,True,"$1,050,429","$625,688"
0,Mark Green,(R),Tennessee,07,True,True,"$1,194,960","$935,487"
1,Kiran Sreepada,(D),Tennessee,07,False,False,"$206,644","$207,191"
2,Ronald Brown,(I),Tennessee,07,False,False,"$1,750",$0
3,Scott Vieira,(I),Tennessee,07,False,False,$655,"$1,049"
0,David Kustoff,(R),Tennessee,08,True,True,"$1,641,217","$999,285"
1,Erika Stotts,(D),Tennessee,08,False,False,"$19,070","$15,883"
0,Steve Cohen,(D),Tennessee,09,True,True,"$607,570","$457,311"
1,Charlotte Bergmann,(R),Tennessee,09,False,False,"$99,147","$100,532"
2,Dennis Clark,(I),Tennessee,09,False,False,"$9,991","$9,919"

In [15]:
election_results = pd.DataFrame(columns=['Candidate_name', 
                                         'Party', 
                                         'State',
                                         'District',
                                         'Incumbent', 
                                         'Winner', 
                                         'Raised', 
                                         'Spent'])
election_results

Empty DataFrame
Columns: [Candidate_name, Party, State, District, Incumbent, Winner, Raised, Spent]
Index: []