In [96]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import timeit
import re
from tqdm.notebook import tqdm
import time
import matplotlib.pyplot as plt
from IPython.display import Image
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
import plotly.express as px

In [97]:
election_results = pd.read_csv("../../webscraping_open_secrets-silver-ish-sharks/data/election_results.csv")

In [98]:
election_results.rename(columns={})

election_results

,Unnamed: 0,Candidate_name,Party,State,District,Incumbent,Winner,Raised,Spent,percent_raised,percent_spent
0,0,Jerry Carl,(R),Alabama,1,False,True,1971321,1859349,96.095624,95.925703
1,1,James Averhart,(D),Alabama,1,False,False,80095,78973,3.904376,4.074297
2,0,Barry Moore,(R),Alabama,2,False,True,650807,669368,92.070532,92.281307
3,1,Phyllis Harvey,(D),Alabama,2,False,False,56050,55988,7.929468,7.718693
4,0,Mike D,D,Alabama,3,True,True,1193111,1218564,95.956760,96.747133
...,...,...,...,...,...,...,...,...,...,...,...
889,1,Tricia Zunker,(D),Wisconsin,7,False,False,1261957,1232690,32.362718,32.894277
890,0,Mike Gallagher,(R),Wisconsin,8,True,True,3202905,2841801,88.480898,87.663451
891,1,Amanda Stuck,(D),Wisconsin,8,False,False,416978,399916,11.519102,12.336549
892,0,Liz Cheney,(R),Wyoming,1,True,True,3003883,3060167,95.711395,95.857821
893,1,Lynnette Grey,(D),Wyoming,1,False,False,134597,132235,4.288605,4.142179

In [99]:
URL_states = "https://www.britannica.com/topic/United-States-House-of-Representatives-Seats-by-State-1787120"
URL_abb = "https://www.50states.com/abbreviations.htm"

response_states = requests.get(URL_states)
response_abb = requests.get(URL_abb)

soup = BS(response_states.text)

soup_abb = BS(response_abb.text)

abb = pd.read_html(str(soup_abb.find('table')))[0]
abb = abb.drop(columns='STANDARD ABBREVIATION')
abb = abb.rename(columns={'US STATE':'state', 'POSTAL ABBREVIATION':'state_abb'})


states = pd.read_html(str(soup.find('table')))[0]
states = states.drop([50])

state_districts = pd.merge(states, abb, on='state')
state_districts['representatives'] = state_districts['representatives'].apply(pd.to_numeric)
display(state_districts.head())
district_count = "Number of US Representatives: " + str(state_districts['representatives'].sum())
district_count

        state  representatives state_abb
0     Alabama                7        AL
1      Alaska                1        AK
2     Arizona                9        AZ
3    Arkansas                4        AR
4  California               53        CA

'Number of US Representatives: 435'

In [100]:
incumbent_data = election_results[(election_results['Incumbent'] == True) & (election_results['Winner'] == True)]
incumbent_data

,Unnamed: 0,Candidate_name,Party,State,District,Incumbent,Winner,Raised,Spent,percent_raised,percent_spent
4,0,Mike D,D,Alabama,3,True,True,1193111,1218564,95.956760,96.747133
6,0,Robert B,B,Alabama,4,True,True,1255076,1323812,96.459423,96.710075
8,0,Mo Brooks,(R),Alabama,5,True,True,655365,210045,100.000000,100.000000
9,0,Gary Palmer,(R),Alabama,6,True,True,907219,909082,100.000000,100.000000
10,0,Terri Sewell,(D),Alabama,7,True,True,2168165,1495957,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
883,0,Gwen Moore,(D),Wisconsin,4,True,True,1183995,1166739,100.000000,100.000000
886,0,Glenn S,S,Wisconsin,6,True,True,1815756,1736659,86.320334,87.601787
888,0,Tom Tiffany,(R),Wisconsin,7,True,True,2637459,2514740,67.637282,67.105723
890,0,Mike Gallagher,(R),Wisconsin,8,True,True,3202905,2841801,88.480898,87.663451
892,0,Liz Cheney,(R),Wyoming,1,True,True,3003883,3060167,95.711395,95.857821

In [107]:
incumbent_agg = incumbent_data['State'].value_counts().reset_index()
incumbent_agg = incumbent_agg.rename(columns={'index':'state', 'State':'numb_incumb'})
incumbent_agg

             state  numb_incumb
0       California           47
1            Texas           29
2          Florida           22
3         New York           21
4     Pennsylvania           17
5             Ohio           16
6         Illinois           16
7         Michigan           12
8       New Jersey           12
9         Virginia           10
10         Georgia           10
11  North Carolina           10
12      Washington            9
13         Arizona            9
14       Tennessee            8
15   Massachusetts            8
16        Maryland            8
17         Indiana            7
18        Missouri            7
19       Wisconsin            7
20       Minnesota            7
21  South Carolina            6
22        Colorado            6
23        Kentucky            6
24       Louisiana            5
25     Connecticut            5
26         Alabama            5
27        Arkansas            4
28     Mississippi            4
29          Nevada            4
30        Oklahoma            4
31          Oregon            4
32        Nebraska            3
33   West Virginia            3
34   New Hampshire            2
35           Maine            2
36          Kansas            2
37           Idaho            2
38            Utah            2
39    Rhode Island            2
40          Alaska            1
41         Vermont            1
42            Iowa            1
43        Delaware            1
44         Wyoming            1
45    North Dakota            1
46    South Dakota            1
47      New Mexico            1

In [109]:
incumbent_agg = pd.merge(state_districts, incumbent_agg, how='outer').fillna(value=0)
incumbent_agg

             state  representatives state_abb  numb_incumb
0          Alabama                7        AL          5.0
1           Alaska                1        AK          1.0
2          Arizona                9        AZ          9.0
3         Arkansas                4        AR          4.0
4       California               53        CA         47.0
5         Colorado                7        CO          6.0
6      Connecticut                5        CT          5.0
7         Delaware                1        DE          1.0
8          Florida               27        FL         22.0
9          Georgia               14        GA         10.0
10          Hawaii                2        HI          0.0
11           Idaho                2        ID          2.0
12        Illinois               18        IL         16.0
13         Indiana                9        IN          7.0
14            Iowa                4        IA          1.0
15          Kansas                4        KS          2.0
16        Kentucky                6        KY          6.0
17       Louisiana                6        LA          5.0
18           Maine                2        ME          2.0
19        Maryland                8        MD          8.0
20   Massachusetts                9        MA          8.0
21        Michigan               14        MI         12.0
22       Minnesota                8        MN          7.0
23     Mississippi                4        MS          4.0
24        Missouri                8        MO          7.0
25         Montana                1        MT          0.0
26        Nebraska                3        NE          3.0
27          Nevada                4        NV          4.0
28   New Hampshire                2        NH          2.0
29      New Jersey               12        NJ         12.0
30      New Mexico                3        NM          1.0
31        New York               27        NY         21.0
32  North Carolina               13        NC         10.0
33    North Dakota                1        ND          1.0
34            Ohio               16        OH         16.0
35        Oklahoma                5        OK          4.0
36          Oregon                5        OR          4.0
37    Pennsylvania               18        PA         17.0
38    Rhode Island                2        RI          2.0
39  South Carolina                7        SC          6.0
40    South Dakota                1        SD          1.0
41       Tennessee                9        TN          8.0
42           Texas               36        TX         29.0
43            Utah                4        UT          2.0
44         Vermont                1        VT          1.0
45        Virginia               11        VA         10.0
46      Washington               10        WA          9.0
47   West Virginia                3        WV          3.0
48       Wisconsin                8        WI          7.0
49         Wyoming                1        WY          1.0