## WEB SCRAPING FOR FUN AND PROFIT:
### An Analysis of Political Contributions During the 2020 House of Representatives Election

### 4.	Using your scraped data, investigates different relationships between candidates and the amount of money they raised. Here are some suggestions to get you started, but feel free to pose you own questions or do additional exploration:

### a. How often does the candidate who raised more money win a race?

The candidate who raised more money wins about 68.88% of the time.

In [21]:
import pandas as pd

In [22]:
election_results = pd.read_csv('../data/election_results.csv')

In [23]:
election_results.info()
display(election_results.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      894 non-null    int64
 1   Candidate_name  893 non-null    object
 2   Party           894 non-null    object
 3   State           894 non-null    object
 4   District        894 non-null    int64
 5   Incumbent       894 non-null    bool
 6   Winner          894 non-null    bool
 7   Raised          894 non-null    int64
 8   Spent           894 non-null    int64
 9   percent_raised  894 non-null    float64
 10  percent_spent   894 non-null    float64
dtypes: bool(2), float64(2), int64(4), object(3)
memory usage: 64.7+ KB

,Unnamed: 0,Candidate_name,Party,State,District,Incumbent,Winner,Raised,Spent,percent_raised,percent_spent
0,0,Jerry Carl,R,Alabama,1,False,True,1971321,1859349,96.095624,95.925703
1,1,James Averhart,D,Alabama,1,False,False,80095,78973,3.904376,4.074297
2,0,Barry Moore,R,Alabama,2,False,True,650807,669368,92.070532,92.281307
3,1,Phyllis Harvey,D,Alabama,2,False,False,56050,55988,7.929468,7.718693
4,0,Mike D Rogers,R,Alabama,3,True,True,1193111,1218564,95.956760,96.747133

In [ ]:
# PSEUDO CODE

# STEPS

    # COUNT NUMBERS OF ROWS FOR EACH STATE AND DISTRICT

    # COUNT MAX RAISED AMOUNT - PER STATE AND DISTRICT
    
    # WINNER == True & MAX RAISED AMOUNT
    
    # DIVIDE WINNER BY ROW COUNT FOR EACH STATE 
    
# MAKE LIST COMPREHENSION FOR ALL STATES?

In [25]:
winners = election_results[election_results['Winner']==True]
winners

,Unnamed: 0,Candidate_name,Party,State,District,Incumbent,Winner,Raised,Spent,percent_raised,percent_spent
0,0,Jerry Carl,R,Alabama,1,False,True,1971321,1859349,96.095624,95.925703
2,0,Barry Moore,R,Alabama,2,False,True,650807,669368,92.070532,92.281307
4,0,Mike D Rogers,R,Alabama,3,True,True,1193111,1218564,95.956760,96.747133
6,0,Robert B Aderholt,R,Alabama,4,True,True,1255076,1323812,96.459423,96.710075
8,0,Mo Brooks,R,Alabama,5,True,True,655365,210045,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
884,0,Scott Fitzgerald,R,Wisconsin,5,False,True,1155721,968406,75.729713,72.258050
886,0,Glenn S Grothman,R,Wisconsin,6,True,True,1815756,1736659,86.320334,87.601787
888,0,Tom Tiffany,R,Wisconsin,7,True,True,2637459,2514740,67.637282,67.105723
890,0,Mike Gallagher,R,Wisconsin,8,True,True,3202905,2841801,88.480898,87.663451
892,0,Liz Cheney,R,Wyoming,1,True,True,3003883,3060167,95.711395,95.857821

In [29]:
# raised_most = election_results[election_results.groupby(['District', 'State'])['percent_raised']==\
 #                              election_results.groupby(['District', 'State'])['percent_raised'].max()]
# raised_most

In [36]:
election_results.groupby(['District', 'State'])['percent_raised'].max()

District  State
1         Alabama        96.095624
          Alaska         72.922047
          Arizona        66.865185
          Arkansas      100.000000
          California     66.871819
                           ...
49        California     57.778784
50        California     64.271198
51        California     90.522534
52        California     89.117191
53        California     81.944870
Name: percent_raised, Length: 435, dtype: float64

In [20]:
election_results[election_results.isin(winners)]
# election_results[(election_results.isin(winners)) & (election_results['percent_raised'].isin(raised_most))]

,Unnamed: 0,Candidate_name,Party,State,District,Incumbent,Winner,Raised,Spent,percent_raised,percent_spent
0,0.0,Jerry Carl,R,Alabama,1.0,0.0,1.0,1971321.0,1859349.0,96.095624,95.925703
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,Barry Moore,R,Alabama,2.0,0.0,1.0,650807.0,669368.0,92.070532,92.281307
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,Mike D Rogers,R,Alabama,3.0,1.0,1.0,1193111.0,1218564.0,95.956760,96.747133
...,...,...,...,...,...,...,...,...,...,...,...
889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,0.0,Mike Gallagher,R,Wisconsin,8.0,1.0,1.0,3202905.0,2841801.0,88.480898,87.663451
891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,0.0,Liz Cheney,R,Wyoming,1.0,1.0,1.0,3003883.0,3060167.0,95.711395,95.857821
893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### b. How often does the candidate who spent more money win a race?

In [37]:
election_results.groupby(['District', 'State'])['percent_spent'].max()

District  State
1         Alabama        95.925703
          Alaska         73.970564
          Arizona        67.292395
          Arkansas      100.000000
          California     68.011316
                           ...
49        California     50.817448
50        California     63.664961
51        California     90.804585
52        California     90.467558
53        California     82.017805
Name: percent_spent, Length: 435, dtype: float64